<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<!--link rel="import" href="../bower_components/polymer/polymer-element.html"-->
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/flip-clock/flip-clock.html">
<link rel="import" href="../bower_components/skeleton-carousel/skeleton-carousel.html">
<!--link rel="import" href="../bower_components/iron-image/iron-image.html"-->
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/social-icons.html">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>



<link rel="import" href="my-icons.html">
<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view4.html">
<link rel="lazy-import" href="my-view404.html">


<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #082233;
        --app-secondary-color: black;
        --app-tercer-color:#132a7f;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
        background-color: var(--app-primary-color);
      }

      app-drawer {
        color: var(--app-tercer-color);
        background-color: var(--app-primary-color);
      }

      app-header-layout{
        background-image: url("https://s3.amazonaws.com/usr17-aws/FondoApp.jpg");
      }

      app-header {
        color: var(--app-tercer-color);
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;


      }
      app-toolbar {

        color:white;
        margin-right:70px;
        font-size: 15px;;

      }

      .drawer-list {
        margin: 0 20px;
        background-color: var(--app-primary-color);

      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 60px;
        background-color: var(--app-primary-color);
      }

      .drawer-list a.iron-selected {

        font-weight: bold;
        color: var(--app-primary-color);
        background-color: var(--app-tercer-color);


      }
      paper-icon-button.dimIcon {
        width: 45px;
        height: 45px;
      },
      paper-icon-button.dimMas {
        width: 10px;
        height: 10px;
      }

    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
    </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div><flip-clock></flip-clock></div>
            <div>[[msgBienvenida]]</div>
            <div>
              <a  href="[[patronActivar1]]" tabindex="-1">
                <paper-icon-button title="[[tituloActivar1]]" icon="[[iconoActivar1]]" style=[[colorActivar1]] class="dimIcon" on-click="irPartePublica"></paper-icon-button>
              </a>
              <a href="[[patronActivar2]]" tabindex="-1">
                <paper-icon-button title="[[tituloActivar2]]" icon="[[iconoActivar2]]" style=[[colorActivar2]] class="dimIcon" on-click="irPartePublica"></paper-icon-button>
              </a>
              <a href="[[patronDesactivar1]]" tabindex="-1">
                <paper-icon-button-disabled title="[[tituloDesactivar1]]" icon="[[iconoDesactivar1]]" style=[[colorDesactivar1]] class="dimIcon" on-click="irPartePublica"></paper-icon-button>
              </a>
              <a href="[[patronDesactivar2]]" tabindex="-1">
                <paper-icon-button-disabled title="[[tituloDesactivar2]]" icon="[[iconoDesactivar2]]" style=[[colorDesactivar2]] class="dimIcon" on-click="irPartePublica"></paper-icon-button>
              </a>
            </div>


            <h1>&nbsp</h1>

          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view1"
            role="main">
          <my-view1 name="view1"></my-view1>
          <my-view2 name="view2"></my-view2>
          <my-view3 name="view3"></my-view3>
          <my-view4 name="view4"></my-view4>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }


      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },

          routeData: Object,
          subroute: String,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl('my-' + page + '.html');


        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);


        var urlLogin = "http://127.0.0.1:8081/view1";
        var tituloLogin = "Identificate";
        var iconoLogin = "people";
        var urlRegistro = "http://127.0.0.1:8081/view2";
        var tituloRegistro = "Registrate";
        var iconoRegistro = "person-add";
        var urlOut = "http://127.0.0.1:8081/view404";
        var tituloOut = "Salir";
        var iconoOut = "all-out";
        var colorEntrar = "color: white;";
        var colorSalir = "color: red;"


        if (sessionStorage.enSesion == "true")
            {
              this.patronActivar1 = urlOut;
              this.tituloActivar1 = tituloOut;
              this.iconoActivar1 = iconoOut;
              this.colorActivar1 = colorSalir;

              this.patronActivar2 = "";
              this.tituloActivar2 = "";
              this.iconoActivar2= "";
              this.colorActivar2 ="";

              this.patronDesactivar1 = urlLogin;
              this.tituloDesactivar1 = tituloLogin;
              this.iconoDesactivar1 = iconoLogin;
              this.colorDesactivar1 = colorEntrar;

              this.patronDesactivar2 = urlRegistro;
              this.tituloDesactivar2 = tituloRegistro;
              this.iconoDesactivar2 = iconoRegistro;
              this.colorDesactivar2 = colorEntrar;

              this.msgBienvenida= "Hola " + sessionStorage.nombre;
            }
        else
            {
              this.patronActivar1 = urlLogin;
              this.tituloActivar1 = tituloLogin;
              this.iconoActivar1 = iconoLogin;
              this.colorActivar1 = colorEntrar;

              this.patronActivar2 = urlRegistro;
              this.tituloActivar2 = tituloRegistro;
              this.iconoActivar2 = iconoRegistro;
              this.colorActivar2 = colorEntrar;

              this.patronDesactivar1 = urlOut;
              this.tituloDesactivar1 = tituloOut;
              this.iconoDesactivar1 = iconoOut;
              this.colorDesactivar1 = colorSalir;

              this.patronDesactivar2 = urlOut;
              this.tituloDesactivar2 = tituloOut;
              this.iconoDesactivar2 = iconoOut;
              this.colorDesactivar2 = colorSalir;

              this.msgBienvenida= "";
            }


      }

      _showPage404() {
        this.page = 'view404';
      }

      irPartePublica()
      {
            sessionStorage.removeItem('idusuario');
            sessionStorage.removeItem('enSesion');
            sessionStorage.removeItem("nombre");
      }


    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
