<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/highcharts-chart/highcharts-chart.html">

<dom-module id="my-view4">
  <template preserve-content="">

        <style include="shared-styles">
          :host {
            display: block;

            padding: 10px;
          }
        </style>

  <div class="card">
  <table>
    <tr>
      <h3><label for="titulo">[[mensajeMov]]</label></h3><br>
      <td width="900">

          <vaadin-grid aria-label="Tabla de movimientos" items="{{arrayMongo}}">

            <vaadin-grid-column width="20%">
              <template class="header">Fecha</template>
              <template>[[item.fecha]]</template>
            </vaadin-grid-column>

            <vaadin-grid-column width="30%">
              <template class="header">Detalle</template>
              <template>[[item.descripcion]]</template>
              <template>
              </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
              <template class="header">Tipo</template>
              <template>[[item.tipo]]</template>
              <template>
              </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
              <template class="header"><p style="text-align:center;">Importe</p></template>
              <template><p style="text-align:right;">[[item.importe]]</p></template>
              <template>
              </template>
            </vaadin-grid-column >

            <vaadin-grid-column>
              <template class="header"><p style="text-align:center;">Saldo</p></template>
              <template><p style="text-align:right;">[[item.saldomovimiento]]</p></template>
              <template>
              </template>
            </vaadin-grid-column>

            <vaadin-grid-column width="5%">
            </vaadin-grid-column>


          </vaadin-grid>
          <br>

            <div>
              <form>
                <input autocomplete="on" type="date" value="{{fecha::input}}" required/>
                <input type="number" step="0.01" class="focus text-field" placeholder="Importe" autocomplete="off" value="{{importe::input}}" required/>
                <input type="text" class="focus text-field" placeholder="Detalle" autocomplete="off" value="{{detalle::input}}" required/>
                <paper-icon-button title="Añadir movimiento" icon="add" style="color: blue;" class="dimIcon" on-click="addMovimientosMlab"></paper-icon-button>
                <label for="labelAddMovimiento">[[mensaje]]</label>
              </form>
            </div>
      </td>

      <td width="300">
          <highcharts-chart type="column" data="{{arrayIngresosGastos}}" label="" title="Gráfico de Ingresos y Gastos" x-zoom x-label="" y-label="EUR" color-by-point x-axis='{"categories":["Ingresos","Gastos"]}'></highcharts-chart>
          <form name=form action="[[rootPath]]view3">
            <button on-click="volverPosicionGlobal" class="col-lg-4 col-xs-12 btn btn-success">Volver</button>
          <form>
      </td>
    </tr>
  </table>
  </div>

  </template>

  <script>
  window.addEventListener('WebComponentsReady', function() {
      class  MyView4  extends Polymer.Element {

        static get is() {
          return 'my-view4';
        }

        static get properties() {
          return {
            mensaje: {
              type: String,
              value: ''
            },
            cuentas: {
              type: Array,
              notify: true
            },
            arrayMongo: {
              type: Array,
              notify: true
            },
            arrayIngresosGastos: {
              type: Array,
              notify: true
            },
            noCargados: {
              type: Boolean,
              value: true
            },
            fecha: {
              type: String,
              value: ''
            },
            importe: {
              type: Number,
              value: 0.00
            },
            detalle: {
              type: String,
              value: ''
            }
          };
        }

        ready(){
          if(sessionStorage.enSesion!="true")
          {
            location.href = ("/view404");
          }
          super.ready();
          this.obtenerMovimientosMlab();
        }

        obtenerMovimientosMlab() {
          var request = new XMLHttpRequest();
          var idusuario = sessionStorage.getItem("idusuario");
          var url=location.href;
          var patron03 = "http://127.0.0.1:8081/view4/" + idusuario + "-";
          var idcuenta = url.replace(patron03, "");
          var patron04 = "http://127.0.0.1:8081/view4/";
          var idcuentaUser = url.replace(patron04, "");
          this.mensajeMov = sessionStorage.nombre+", estos son sus movimientos de la cuenta "+idcuentaUser;

          request.open("GET", "http://localhost:3000/movimientos/" + idusuario + "/" + idcuenta, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();

          var stringMongo = request.responseText;
          var patron01 = '[{"cuentas":[{"movimientos":';
          var patron02 = "}]}]}]";
          var string001 = stringMongo.replace(patron01, "");
          var string002 = string001.replace(patron02, "}]");
          this.arrayMongo = JSON.parse(string002);
          this.noCargados = false;
          this.obtieneIngresosGastos();
        }

        obtieneIngresosGastos() {
          var requestig = new XMLHttpRequest();
          var idusuario = sessionStorage.getItem("idusuario");
          var url=location.href;
          var patron03 = "http://127.0.0.1:8081/view4/" + idusuario + "-";
          var idcuenta = url.replace(patron03, "");

          requestig.open("GET", "http://localhost:3000/ingresosgastos/" + idusuario + "/" + idcuenta, false);
          requestig.setRequestHeader("Accept", "application/json");
          requestig.send();

          var stringIngresosGastos = requestig.responseText;
          this.arrayIngresosGastos = JSON.parse(stringIngresosGastos);
        }

        addMovimientosMlab() {
          var requestmov = new XMLHttpRequest();
          var idusuario = sessionStorage.getItem("idusuario");
          var url=location.href;
          var patron03 = "http://127.0.0.1:8081/view4/";
          var idcuenta = url.replace(patron03, "");
          var datosMovimiento = {"idusuario":idusuario,
                                 "idcuenta":idcuenta,
                                 "fecha":this.fecha,
                                 "importe":this.importe,
                                 "detalle":this.detalle};

          requestmov.open("PUT", "http://localhost:3000/addmovimiento", false);
          requestmov.setRequestHeader("Content-Type", "application/json");
          requestmov.send(JSON.stringify(datosMovimiento));

          if(requestmov.responseText=="OK")
          {
             this.obtenerMovimientosMlab();
             this.fecha = "";
             this.importe = "";
             this.detalle = "";
             this.mensaje = "Movimiento añadido correctamente";
          }
          else
          {
             this.mensaje = "Error al insertar movimiento. Vuelva a intentarlo";
          }
        }
      }
        window.customElements.define(MyView4.is, MyView4);
    });

  </script>
</dom-module>
