<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

    </style>

    <div class="card">
      <div class="circle"  >Login</div><br>
      <label for="labelResultadoLogin">[[mensaje]]</label><br><br>
      <div class="container">
          <input type="text" class="focus text-field" placeholder="DNI" autocomplete="off" value="{{dni::input}}" required/><br><br>
          <input type="password" placeholder="Password" autocomplete="off" value="{{password::input}}" required/>
          <button on-click="checkLogin" class="col-lg-4 col-xs-12 btn btn-success">Login</button>
      </div>
    </div>
  </template>

  <script>

  class MyView1 extends Polymer.Element {
   static get is() { return 'my-view1'; }
   static get properties() {
     return {
       dni: {
         type: String,
         value: ''
       },
       password: {
         type: String,
         value: ''
       },
       idusuario: {
         type: String,
         value: ''
       },
       mensaje: {
         type: String,
         value: ''
       },
       nombre: {
         type: String,
         value: ''
       }
     };
   }

   checkLogin()
   {
     var datos = {"dni":this.dni,"password":this.password};
     var request = new XMLHttpRequest();
     var nexturl = "/view3";
     var enSesion = false;

     request.open("POST", "http://localhost:3000/login", false);
     request.setRequestHeader("Content-Type", "application/json");
     request.send(JSON.stringify(datos));

     var respuestaLogin = JSON.parse(request.responseText);

     this.idusuario = respuestaLogin.idusuario;

     if((this.idusuario >0) & (this.idusuario <99999)) {
       this.mensaje = "Bienvenido " + respuestaLogin.nombre;
       enSesion = true;
       sessionStorage.setItem("idusuario", this.idusuario);
       sessionStorage.setItem("nombre", respuestaLogin.nombre);
       sessionStorage.setItem("enSesion", enSesion);

       location.href = nexturl;
     }
     else {
         this.mensaje = "Login Incorrecto, el usuario o contraseña introducido no es correcto"
     }
   }
 }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
