<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="bower_components/vaadin-valo-theme/vaadin-radio-button.html">
<link rel="import" href="bower_components/vaadin-radio-button/vaadin-radio-button.html">
<link rel="import" href="../bower_components/highcharts-chart/highcharts-chart.html">

<dom-module id="my-view3">
  <template preserve-content>

        <style include="shared-styles">
          :host {
            display: block;

            padding: 10px;
          }

        </style>

    <div class="card">
      <table>

        <tr>

        <h3><label for="titulo">[[mensaje]]</label></h3><br>

          <td width="800">
                <vaadin-grid aria-label="Tabla de cuentas" items="[[arrayMongo]]">

                  <vaadin-grid-column>
                    <template class="header">Cuenta</template>
                    <template>
                      <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
                        <a name="view3" href="[[rootPath]]view4/[[item.idcuenta]]">[[item.idcuenta]]</a>
                      </iron-selector>
                    </template>
                  </vaadin-grid-column>

                  <vaadin-grid-column>
                    <template class="header">Descripcion</template>
                    <template>[[item.descripcion]]</template>
                    <template>
                    </template>
                  </vaadin-grid-column>

                  <vaadin-grid-column>
                    <template class="header"><p style="text-align:right;">Saldo</p></template>
                    <template><p style="text-align:right;">[[item.saldo]]</p></template>
                    <template>
                    </template>
                  </vaadin-grid-column>

                  <vaadin-grid-column>
                    <template class="header"><p style="text-align:center;">Divisa</p></template>
                    <template><p style="text-align:center;">[[item.divisa]]</p></template>
                    <template>
                    </template>
                  </vaadin-grid-column>

                </vaadin-grid>

                <form>
                  <input type="text" class="focus text-field" placeholder="Detalle" autocomplete="off" value="{{detalle::input}}" required/>
                  <paper-icon-button title="Contratar nueva cuenta" icon="add-shopping-cart" style="color: blue;" class="dimIcon" on-click="addcuenta"></paper-icon-button>
                  <label for="labelAddMovimiento">[[strmsg]]</label>
                </form>

                </td>

                <td width="400">
                    <highcharts-chart type="pie" data="{{arrayDatosCuentas}}" title='Posicion Global' x-zoom x-label="Iterations" y-label="EUR" color-by-point></highcharts-chart>
                </td>
            </tr>
        </table>
    </div>

  </template>

  <script>
  window.addEventListener('WebComponentsReady', function() {
      class  MyView3  extends Polymer.Element {

        static get is() {
          return 'my-view3';
        }

        static get properties() {
          return {
            arrayCuentas: {
              type: Array,
              notify: true
            },
            arrayMongo: {
              type: Array,
              notify: true
            },
            arrayDatosCuentas: {
              type: Array,
              notify: true
            },
            noCargados: {
              type: Boolean,
              value: true
            },
            selected: {
              type: Array,
              notify: true
            },
            mensaje: {
              type: String,
              value: ''
            },
            strmsg: {
              type: String,
              value: ''
            },
            detalle: {
              type: String,
              value: ''
            }
          };
        }

        ready(){
          if(sessionStorage.enSesion!="true")
          {
          location.href = ("/view404");
          }
          super.ready();
          this.mensaje = sessionStorage.nombre + ", esta es tu posición global de cuentas";
          this.obtenerCuentasMlab();
        }

        obtenerCuentasMlab() {
          var request = new XMLHttpRequest();
          var idusuario = sessionStorage.getItem("idusuario");
          request.open("GET", "http://localhost:3000/cuentas/" + idusuario, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();

          var stringMongo = request.responseText;
          var patron01 = '[{"cuentas":';
          var patron02 = "}]}]";
          var string001 = stringMongo.replace(patron01, "");
          var string002 = string001.replace(patron02, "}]");
          this.arrayMongo = JSON.parse(string002);
          this.noCargados = false;
          this.obtenerDatosCuentas();
        }

        obtenerDatosCuentas() {
          var datosCuentas = '[';
          var haySaldo="false";
          for( var i = 0; i < this.arrayMongo.length; i++ ) {
            var datoCuenta = '';
            var saldoCuenta = '';
            saldoCuenta = this.arrayMongo[i].saldo;
            var patron06 = '.';
            saldoCuenta = saldoCuenta.replace(patron06, '');
            datoCuenta = '["' + this.arrayMongo[i].descripcion + '",'
            + (parseFloat(saldoCuenta)<0.00?(parseFloat(saldoCuenta)*-1):(parseFloat(saldoCuenta))) + '],';
            datosCuentas = datosCuentas + datoCuenta;
            if (parseFloat(saldoCuenta)>0.00){
              haySaldo="true";
            }
          };

          datosCuentas = datosCuentas + ']';
          var patron05 = '],]';
          datosCuentas = datosCuentas.replace(patron05, ']]');
          if (haySaldo=="true")
          {
            this.arrayDatosCuentas = JSON.parse(datosCuentas);
          }
          else
          {
            this.arrayDatosCuentas = "";
          }
        }

        addcuenta() {
          var requestcta = new XMLHttpRequest();
          var idusuario = sessionStorage.getItem("idusuario");

          var datosCuenta = {"idusuario":idusuario,
                             "detalle":this.detalle};

          requestcta.open("PUT", "http://localhost:3000/addcuenta", false);
          requestcta.setRequestHeader("Content-Type", "application/json");
          requestcta.send(JSON.stringify(datosCuenta));

          if(requestcta.responseText=="OK")
          {
             this.obtenerCuentasMlab();
             this.detalle = "";
             this.strmsg = "Cuenta creada correctamente";
          }
          else
          {
             this.strmsg = "Error al insertar cuenta. Vuelva a intentarlo";
          }
        }
      }
        window.customElements.define(MyView3.is, MyView3);
    });

  </script>
</dom-module>
