<!--link rel="import" href="../bower_components/polymer/polymer-element.html"-->
<link rel="import" href="shared-styles.html">
<script src="../bower_components/webcomponents-lite/webcomponents-lite.js"></script>

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      body {
        min-height: 300px
      }

      simple-modal {
        font-family: sans-serif;
      }
    </style>
    <nebula-dialog
        opened="{{opened}}"
        result="{{result}}"
        on-opened="_onOpened"
        on-closed="_onClosed">
    </nebula-dialog>
  <div class="card">
    <table>
      <tbody>
        <tr>

          <td>
              <div class="circle"  >Registro</div><br>
              <div class="container">
                <form name=form action="[[rootPath]]view3">
                  <input type="Nombre" class="focus text-field" placeholder="Nombre" autocomplete="off" value="{{nombre::input}}" required/><br><br>
                  <input type="Apellidos" placeholder="Apellidos" autocomplete="off" value="{{apellidos::input}}" required/><br><br>
                  <input type="Dirección" placeholder="Dirección" autocomplete="off" value="{{direccion::input}}" on-change="mapa" required/><br><br>
                  <input type="Provincia" placeholder="Provincia" autocomplete="off" value="{{provincia::input}}" on-change="mapa" required/><br><br>
                  <input type="CP" placeholder="CP" autocomplete="off" value="{{codPostal::input}}" on-change="mapa" required/>
                  <br><br>
                  <input type="email" placeholder="email" autocomplete="off" value="{{email::input}}" required/><br><br>
                  <input type="DNI" placeholder="DNI" autocomplete="off" value="{{dni::input}}" required/><br><br>
                  <input type="password" placeholder="Password" autocomplete="off" value="{{password::input}}" required/><br><br>

                  <button on-click="registerNewUser" class="col-lg-4 col-xs-12 btn btn-success">Registrarse</button>
                </form>
              </div>
          </td>
          <td width="50%">
                <img src="[[urlApi]]" width=[[anchoMap]] height=[[altoMap]]>

          </td>
        </tr>

    </table>
  </div>
  </template>

  <script>

  class MyView2 extends Polymer.Element {
    static get is() { return 'my-view2'; }
    static get properties() {
      return {
        nombre: {
          type: String,
          value: ''
        },
        apellidos: {
          type: String,
          value: ''
        },
        direccion: {
          type: String,
          value: ''
        },
        provincia: {
          type: String,
          value: ''
        },
        codPostal: {
          type: Number,
          value: ''
        },
        email: {
          type: String,
          value: ''
        },
        dni: {
          type: String,
          value: ''
        },
        password: {
          type: String,
          value: ''
        }
      };
    }

    registerNewUser()
    {
      var nexturl = "/view3";
      var enSesion = false;
      var datos = {"nombre":this.nombre,"apellidos":this.apellidos,
      "direccion":this.direccion,"provincia":this.provincia,
      "codPostal":this.codPostal,"email":this.email,"dni":this.dni,
      "password":this.password};

      var request = new XMLHttpRequest();

      request.open("POST", "http://localhost:3000/register", false);
      request.setRequestHeader("Content-Type", "application/json");
      request.send(JSON.stringify(datos));

      var respuestaRegistro = JSON.parse(request.responseText);

      this.idusuario = respuestaRegistro.idusuario;

      if(this.idusuario==-1)
      {
          this.mensaje = "Error en el registro :-{"
      }
      else
      {
          this.mensaje = "Bienvenido " + respuestaRegistro.nombre;
          enSesion=true;
          sessionStorage.setItem("idusuario", this.idusuario);
          sessionStorage.setItem("nombre", this.nombre);
          sessionStorage.setItem("enSesion", enSesion);

          var body = {"idusuario":this.idusuario};

          var request = new XMLHttpRequest();

          request.open("POST", "http://localhost:3000/crearcuentas", false);
          request.setRequestHeader("Content-Type", "application/json");
          request.send(JSON.stringify(body));

          var respuestaRegistro = JSON.parse(request.responseText);

          if(request.responseText=="OK")
          {
             console.log("Creadas las nuevas cuentas del cliente");
          }
          else
          {
             this.mensaje = "Error al crear las cuentas del cliente";
          }
          location.href = nexturl;
      }
    }

    mapa()
      {
        if (this.codPostal>"0")
        {
          var APIpre= "https://maps.googleapis.com/maps/api/staticmap?center=";
          var APIpost= "&zoom=18&size=700x350&maptype=&markers=color:blue|label:S&roadmap&key=";
          var APIKey = "AIzaSyCwOKORtkF6VSOZQDfFofV8CYg8Yp3hKbM";
          this.urlApi= APIpre.concat(this.direccion).concat(this.codPostal).concat(this.provincia).concat( "spain").concat(APIpost).concat(APIKey);
          this.anchoMap="700";
          this.altoMap="350";
          //window.open(URL , "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
        }
        else {
          this.urlApi="";
          this.anchoMap="0";
          this.altoMap="0";
        }
      }
  }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
